<!DOCTYPE HTML>
<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
		<style>
			body{padding:40px;}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.1/ui-bootstrap-tpls.min.js"></script>		
        <script type="text/javascript">
		var app = angular.module('eventApp', ['ui.bootstrap']);
		app.config(function($httpProvider) {
		  //Enable cross domain calls
		  $httpProvider.defaults.useXDomain = true;

		  //Remove the header used to identify ajax call  that would prevent CORS from working
		  delete $httpProvider.defaults.headers.common['X-Requested-With'];
		});		
		app.controller('appCtrl', function($scope, Data){
			$scope.init={
				data:[], 
				structure:{
					salutation:{type:'select', options:['HERR', 'FRAU', 'DU_M', 'DU_F']}, 
					firstName:{type:'text'},
					lastName:{type:'text'},
					email:{type:'text'},
					comment:{type:'text'},
					invitationState:{type:'select', options:['INITIAL', 'SENT', 'REGISTERED', 'EXCUSED']}
				}
			}
			Data.list().then(function(result) {
				$scope.init.data=result.data.eventModel;
				console.log($scope.init.data)
			}, function(reason) {//error
				console.log('Could not get event. '+reason.status+': '+reason.statusText);						
			});		
		});	
		</script>
	</head>
	<body ng-app="eventApp">
		<div class="container-fluid" ng-controller="appCtrl">
			<div class="row">
				<div class="col-md-12">
					<div simple-crud source="init" id="id" url="clients"></div>
				</div>
			</div>
		</div>
		<script>
		app.directive('simpleCrud', function(Data){
			return {
				restrict: 'A',
				replace:true,
				scope: {
					source:'=',
					id:'@',
					url:'@'
				}, 
				template: function(e, attr){		
					var HTML='<div>';
					HTML+='<button class="btn btn-primary margin-bottom-S" ng-click="addItem()"><i class="fa fa-plus fa-fw"></i>New</button>';
					HTML+='		<form ng-if="formOPT.show" class="form-horizontal well" name="addForm">';
					HTML+='			<div ng-repeat="(k, v) in source.structure" class="form-group">';
					HTML+='				<label class="col-sm-2 control-label">{{k}}</label>';
					HTML+='				<div class="col-sm-10">';
					HTML+='					<div input-types model="formOPT.newOBJ" v="v" k="k"></div>';
					HTML+='				</div>';
					HTML+='			</div>';
					HTML+='			<button type="button" ng-click="addupdateClient()" class="btn btn-success" ng-disabled="addForm.$invalid">Save</button> <button type="button" ng-click="resetForm()" class="btn btn-danger">Cancel</button>';
					HTML+='		</form>';
				    HTML+='<table class="table" ng-if="source.data.length">';
				    HTML+='		<thead>';
				    HTML+='			<tr>';
				    HTML+='				<th ng-repeat="(key, value) in source.structure" ng-if="key!==id">{{key}}</th>';
				    HTML+='				<th>actions</th>';
				    HTML+=			'</tr>';
					HTML+='		</thead>';
					HTML+='		<tbody>';		    
				    HTML+='    <tr ng-repeat="item in source.data">';
				    HTML+='        <td ng-repeat="(key, value)  in source.structure">'
				    HTML+='				<span ng-if="formOPT.edit!==item[id]">{{item[key]}}</span>';
				    HTML+='				<div ng-if="formOPT.edit===item[id]"><div input-types model="item" k="key" v="source.structure[key]"></div></div>';
				    HTML+='			</td>';
				    HTML+='			<td>';
				    HTML +='			<a href="javascript:void(0)" ng-if="formOPT.edit!==item[id]" ng-click="editItem(item)"><i class="fa fa-pencil fa-fw"></i>Edit</a>';
				    HTML +='			<span ng-if="formOPT.edit===item[id]"><button class="btn btn-success" ng-click="updateItem(item)">Save</button> <button class="btn btn-warning" ng-click="formOPT.edit=0">Cancel</button> <button class="btn btn-danger" ng-click="deleteItem(item)">Delete</button></span>';		    
				    HTML+='			</td>';
				    HTML+='    </tr>';
					HTML+='		</tbody>';	
					HTML+='</table>';
				    HTML+='<div class="well" ng-if="!source.data.length"><i class="fa fa-times fa-fw"></i> No records</div>';			
				    HTML+='</div>';
				    return HTML;
				},		
				controller: function($scope, Data){
					$scope.formOPT={show:0,edit:0, newOBJ:{}}
					$scope.addItem = function(){
						$scope.formOPT.show=1;
					}
					$scope.editItem = function(item){
						$scope.formOPT.edit=item.id;
					}	
					$scope.resetForm = function(){
						$scope.formOPT={show:0,edit:0, newOBJ:{}}
					}	
					$scope.updateItem = function(item){
						Data.put(item).then(function(result) {
			        		var index=$scope.source.data.map(function(a){return a.id}).indexOf(result.data.eventModel.id);
			        		if(index!==-1){
			        			$scope.source.data[index] = result.data.eventModel;
			        		}
			        		$scope.resetForm();	
				   		}, function(reason) {//error
				   			console.log('Could not create event. '+reason.status+': '+reason.statusText);		
						});
					}	
					$scope.addupdateClient = function(){
						Data.post($scope.formOPT.newOBJ).then(function(result) {					
			        		$scope.source.data.push(result.data.eventModel);
			        		$scope.resetForm();		
				   		}, function(reason) {//error
				   			console.log('Could not create event. '+reason.status+': '+reason.statusText);		
						});														
					}
					$scope.deleteItem = function(item){
						Data.delete(item.id).then(function(result) {
							var index = $scope.source.data.map(function(e) { return e.id;}).indexOf(item.id);
							$scope.source.data.splice(index, 1);	
							$scope.formOPT.edit=0;
				   		}, function(reason) {//error
				   			console.log('Could not delete event. '+reason.status+': '+reason.statusText);		
						});							
					};
				}
		    };
		});
		app.directive('inputTypes', function($compile){	
			var getTemplate=function(v){
				var HTML='<div>';
				if(v.type==='text'){
					HTML+='<input class="form-control" ng-model="model[k]" placeholder="{{k}}" required>';
				}
				if(v.type==='select'){
					HTML+='<div class="btn-group"><label ng-repeat="item in v.options" class="btn btn-default" ng-model="model[k]" btn-radio="item">{{item}}</label></div>';
				}				
				HTML+='</div>';
				return HTML;
			}
			return {
				restrict: "A",		
				scope: {
					model:'=',
					v:'=',
					k:'='
				},
				controller:function($scope){	

				},
				link: function(scope,el, attrs) {
		        	var HTML = getTemplate(scope.v);
					var template = angular.element($compile(HTML)(scope));
					el.replaceWith(template);  
				}
			}
		});
		app.factory("Data", ['$http',
		    function ($http) { 
		        var serviceBase = 'http://localhost:8080/arbalo/api/event';
		        var obj = {};
		        obj.list = function () {
					return $http.get(serviceBase)
					.success(function (data, status) {				
					})
					.error(function(data, status, headers, config) {
						console.log('ERROR: EventService.list() returned with status ' + status);
					});		        	
		        };
				obj.post = function(item) {			
					var data = {eventModel:item};
					return $http.post(serviceBase, data)
					.success(function(data, status) {				
					})
					.error(function(data, status, headers, config) {
						console.log('ERROR: EventService.post() returned with status ' + status);
					});
				};		        
		        obj.put = function (item) {
					var data = {eventModel:item};
					return $http.put(serviceBase + '/' + item.id, data)
					.success(function(data, status) {				
					})
					.error(function(data, status, headers, config) {
						console.log('ERROR: EventsService.put() returned with Status ' + status);
					});		        	
		        };
		        obj.delete = function (id) {
					return $http.delete(serviceBase + '/' + id)
					.success(function(data, status) {				
					})
					.error(function(data, status, headers, config) {
						console.log('ERROR: EventsService.delete() returned with status ' + status);
					});
		        };

		        return obj;
		}]);		
		</script>
	</body>
</html>