/*
	Iconic by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	/* Lists */

		ul.style1 {
			text-align: center;
			margin: 0;
		}
		
			ul.style1 > li {
				display: inline-block;
				text-align: center;
				border-top-width: 0;
				border-left-width: 2px;
				padding: 0 1.5em;
				vertical-align: top;
			}

			ul.style1.four > li {
				width: 23%;
			}

			ul.style1.three > li {
				width: 32%;
			}

			ul.style1.two > li {
				width: 48%;
			}
			
			ul.style1 > li:first-child {
				border-left-width: 0;
			}

			ul.style1 > li .image {
				max-width: 10em;
				margin: 0 auto;
			}

		ul.icons {
		}
		
			ul.icons > li {
				display: inline-block;
				width: 48%;
				margin: 0 0 2em 0;
				vertical-align: top;
			}

			ul.icons > li:nth-last-child(1),
			ul.icons > li:nth-last-child(2) {
				margin-bottom: 0;
			}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper {
		display: none;
	}

	#main-wrapper {
		padding: 1em 0 3em 0;
	}
	
		.homepage #main-wrapper {
			padding: 5em 0;
		}
		
/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured {
	}
	
		#featured ul.style1 {
			margin-top: 3em;
		}
		
/*********************************************************************************/
/* UI                                                                            */
/*********************************************************************************/

	#skel-layers-wrapper {
		padding-top: 44px;
	}

	#titleBar {
		background: #FFF;
		box-shadow: 0 0.05em 0.15em 0 rgba(0,0,0,0.15);
	}

		#titleBar .title {
			display: block;
			text-align: center;
			line-height: 44px;
			font-size: 1.10em;
			font-weight: 900;
			color: #343e49;
		}

		#titleBar .toggle {
			position: absolute;
			left: 0;
			top: 0;
			width: 80px;
			height: 60px;
			z-index: 1;
		}

			#titleBar .toggle:after {
				content: '';
				display: block;
				width: 20px;
				height: 12px;
				position: absolute;
				left: 10px;
				top: 15px;
				background: url('images/toggle.svg') 0px 0px no-repeat;
				opacity: 0.6;
			}

			#titleBar .toggle:active:after {
				opacity: 0.75;
			}

	#navPanel {
		background: #242E39;
	}

		#navPanel .link {
			display: block;
			color: #888;
			color: rgba(255,255,255,0.75);
			text-decoration: none;
			height: 44px;
			line-height: 44px;
			border-top: solid 1px rgba(255,255,255,0.05);
			padding: 0 1em 0 1em;
		}
		
			#navPanel .link:first-child {
				border-top: 0;
			}
			
			#navPanel .link.depth-0 {
				color: #fff;
			}

			#navPanel .indent-1 { display: inline-block; width: 1em; }
			#navPanel .indent-2 { display: inline-block; width: 2em; }
			#navPanel .indent-3 { display: inline-block; width: 3em; }
			#navPanel .indent-4 { display: inline-block; width: 4em; }
			#navPanel .indent-5 { display: inline-block; width: 5em; }
			#navPanel .depth-0 { color: #fff; }