/*
	Iconic by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select {
		font-size: 14pt;
	}
	
	/* Pennant */

		.pennant {
		}
		
			.pennant span:before {
				font-size: 96px;
			}			
	
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#main-wrapper {
		padding: 4em 0 3em 0;
	}
	
		.homepage #main-wrapper {
			padding: 8em 0 5em;
		}